-
    let menu = [
        {
            name: "головна",
            url: "/"
        },
        {
            name: "послуги",
            url: "#main"
        },
        {
            name: "про компанію",
            url: "#"
        },
        {
            name: "акції",
            url: "#special_plans"
        },
        {
            name: "партнери",
            url: "#"
        },
        {
            name: "відгуки",
            url: "#review"
        },
        {
            name: "контакти",
            url: "#additional_information"
        }
    ]

-
    let figures = {
        bicycle_tour: {
            fav: false,
            id: "#bicycle_icon",
            src: "img/bicycle_tour",
            alt: "bicycle_tour_plan",
            span: "Тур на велосипедах",
            price: "335",
            description: [
                "Подорожуючи  на велосипеді, ви поринете в атмосферу мальовничих гір, чарівнмх краєвидів та шалених пригод."
            ],
            url: "#"
        },
        excursion_to_the_island: {
            fav: true,
            id: "#excursion_icon",
            src: "img/excursion_to_the_island",
            alt: "excursion_to_the_island_plan",
            span: "Екскурсія на острів",
            price: "500",
            description: [
                "Подорож на острів занурить Вас у незабутнні пригоди. Неймовірна краса у будь-яку пору року."
            ],
            url: "#"
        },
        special_order: {
            fav: true,
            id: "#special_order_icon",
            src: "img/special_order",
            alt: "special_order_plan",
            span: "Особливе замовлення",
            price: "250",
            description: [
                "Обираючи цю подорож, Ви самостійно робите її незабутнбою та не схожою на будь-які інші. "
            ],          
            url: "#"
        }
    }

-
    let special = {
        romantic_trip: {
            fav: true,
            src: "img/romantic_trip",
            alt: "romantic_trip_plan",
            span: "Романтична подорож на 2",
            price: "2599",
            description: [
                "Подорож у найромантичніші куточки світу, занурить вас у дивовижні пейзажі природи."
            ],
            url: "#"
        },
        bike_tour: {
            fav: true,
            src: "img/bike_tour",
            alt: "bike_tour_plan",
            span: "Велотур",
            price: "555",
            description: [
                "Бажаєте прокататись з вітерцем, та ще й з критим краєвидом довкола? Тоді швидше замовляй велотур!"
            ],
            url: "#"
        },
        to_the_islands: {
            fav: true,
            src: "img/to_the_islands!",
            alt: "to_the_islands!_plan",
            span: "На острови!",
            price: "1559",
            description: [
                "Хочеш зануритись у тишу, місце де не має натовпу, та панує дика природа? Тоді вперед за пригодами!"
            ],
            url: "#"
        },
        surfing: {
            fav: true,
            src: "img/surfing",
            alt: "surfing_plan",
            span: "Катання на серфінгу",
            price: "999",
            description: [
                "Хочеш отримати екстрим та мега вражень одночасно? Тоді вперед ловити хвилі!"
            ],
            url: "#"
        }
    }

mixin menu (items)
    for item in items
        li
            a(href=item.url) #{item.name}

mixin figures (item)
    .figure.col-md-6.col-lg-4.g-4
        figure.text-center.m-0
            figcaption.h-100
                if item.fav
                    .favorite_plans_mark
                        svg.fav_icon
                            use(xlink:href="#fav_icon")
                a(href="#")
                svg.offers_icon.orange_svg
                    use(xlink:href=item.id)
                h4.mt-3.mb-2 #{item.span}
                p.price #{item.price} грн*
                p.product_description.text-start #{item.description}

mixin special (item)
    .col-sm-6.col-md-6.col-lg-4.col-xl-3
        figure.m-0
            figcaption.h-100
                if item.fav
                    .favorite_plans_mark
                        svg.fav_icon
                            use(xlink:href="#fav_icon")
                a.img_link(href="#")
                picture
                    source(srcset=item.src + ".webp", type="image/webp")
                    img.picture.w-100(src=item.src + ".png", alt=item.alt, loading="lazy")
                .special_plan_discription
                    h4 #{item.span}
                    p.product_description.text-start #{item.description}
                    .buy_block.d-flex.align-items-center
                        p.price.m-0 #{item.price} грн.
                        .special_plan_button.d-flex.align-items-center
                            a.d-block(href="#")
                                span замовити
                                svg.arrow_special_plan
                                    use(xlink:href="#arrow_special_plan")